---
layout: page
title: Blog
subtitle: Hitchhiker's guid to web development
sitemap:
  priority: 0.9
---

<!-- <ul class="list-posts">
    {% for post in site.posts %}
        <li class="post-teaser">
            <a href="{{ post.url | prepend: site.baseurl }}">
                <span class="post-teaser__title">{{ post.title }}</span>
                <span class="post-teaser__date">{{ post.date | date: "%d %B %Y" }}</span>
            </a>
        </li>
    {% endfor %}
</ul> -->


<section class="articles__list">
	{% for post in site.posts %}
	<article class="article__home">
		<h2 class="article__home--title">
			<a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
		</h2>
        <time class="article__home--time">{{ post.date | date: "%d %B %Y" }}</time>

    	<div class="article__home--content">
            {{ post.content }}
        </div>
	</article>
	{% endfor %}
</section>
