<footer class="footer">
	{% include navigation.html %}
	<div class="wrapper">
    <p>© 2017 Fernando Soares - <a href="https://github.com/frrrnd" target="_blank">Code Here</a></p>
	</div>
	
	<div class="social__float">
		<ul>
			<li><a target="_blank" href="https://dribbble.com/fernando"><i class="fab fa-dribbble"></i></a></li>
			<li><a target="_blank" href="https://github.com/frrrnd"><i class="fab fa-github"></i></a></li>
			<li><a target="_blank" href="https://instagram.com/frrrnd.jpg"><i class="fab fa-instagram"></i></a></li>
			<li><a target="_blank" href="https://twitter.com/frrrnd"><i class="fab fa-twitter"></i></a></li>
		</ul>
	</div>
</footer>
