<nav class="navigation">
    <ul>
        <li><a target="_blank" title="fernando on dribbble" href="https://dribbble.com/fernando">dribbble</a></li>
        <li><a target="_blank" title="fernando on github" href="https://github.com/frrrnd">github</a></li>
        <li><a target="_blank" title="fernando on instagram" href="https://instagram.com/frrrnd.jpg">instagram</a></li>
        <li><a target="_blank" title="fernando on twitter" href="https://twitter.com/frrrnd">twitter</a></li>
    </ul>
</nav>