.page-about {
    p {
        font-size: 20px;
    }

    @include large {
        h1  {
            padding-top: 15%;
        }
    }
}


.avatar {
    display: block;
    margin: 0 auto;
    height: auto;

    @include large {
        max-width: 300px;
        margin-left: -4em;
        margin-top: 0em;
    }

    @include small {
        max-width: 260px;
    }
}

.about-column {
    display: flex;
    flex-direction: row;
    padding: 2em 1em 1em;

    @include small {
        flex-direction: column;
    }
}

.column-left {

}

.column-right {
    @include large {
        padding-left: 10%;
    }
}