
.about-page {
    h1 {
        font-size: 64px;
    }
}

.wrapper {
    h1 {
        font-size: 52px;
        font-family: $heading-font;
    }
}

.grid-container {
    display: flex;
    flex-direction: row;
}

.about-left {
    display: flex;
    flex: 60%;
    padding-right: 2em;
}

.about-right {
    display: flex;
    flex: 40%;
}

/*
*
*    Falta arrumar a parte do mobile... ver se os mixins estão funcionando.
*
*
*/