
.about-page {
    h1 {
        font-size: 3em;
    }
}

.wrapper {
    h1 {
        font-family: $heading-font;
    }
}

.grid-container {
    display: flex;

    @include small {
        flex-direction: column;
    }

    @include large {
        flex-direction: row;
    }
}

.about-left {
    display: flex;
    flex: 60%;
    padding-right: 2em;

    p {
        padding-left: 12px;
    }

    @include small {
        padding-top: 2vh;
    }

    @include large {
        padding-top: 30vh;
    }
}

.about-right {
    display: flex;
    flex: 40%;
}

/*
*
*    Falta arrumar a parte do mobile... ver se os mixins estão funcionando.
*
*
*/