.home-section {
	width: 100%;
	animation: .8s toUp 1s forwards;
	opacity: 0;

	
	h1 {
		font-weight: normal;
		width: 100%;
		font-size: 1.5em;
		color: #333;
		margin: 2em 0 6em 0;
		max-width: 70%;
		width: 100%;

		span {
			font-weight: bold;
		}
	}
}

.hero {
	padding: 2em 0;
}

.home-image {
	position: absolute;
	top: -30px;
	right: 0;
	max-width: 700px;
	width: 100%;
	z-index: 0;

	&:before {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 100;
		background-color: rgba(0,0,0,.5);
	}
}

.rounded-image {
	margin-bottom: 40px;
	max-width: 50%;
	display: flex;
	
	img {
		width: 80px;
		height: 80px;
		border-radius: 100%;
	}
}

.notes__list {
	list-style-type: none;
	padding-left: 5px;

	li {
		margin-bottom: 20px;

		&:before {
			content:"~";
			display: inline-block;
			color: #333;
			margin-right: 10px;
			font-weight: bold;
		}

		time {
			display: block;
			color: #aaa;
			font-size: 13px;
			padding-left: 20px;
			padding-top: 6px;
		}
	}
}


.panel {
	position: relative;
	display: flex;
	width: 100%;
	max-width: 1200px;
	height: 466px;
	user-select: none;
	pointer-events: none;	
}

.panel__content-col {
	flex-basis: 25%;
}

.panel__content {
	position: absolute;
	top: 26%;
	left: 0;
	z-index: 1;
	width: 100%;
}

.panel__img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.home-works {
	.wrapper {
		border-top: 1px solid #eee;
		padding-top: 3em;
	}
}