.home-section {
	width: 100%;
	display: flex;
	flex-direction: row;
	padding: 0 5vw;

	&--hero {

		img {
			position: relative;
		}

		h1 {
			font-family: $heading-font;
			font-size: 58px;
		}

		h2 {
			font-weight: normal;
			font-size: 38px;
			position: relative;
		}

		h3 {
			color: #ccc;
		}
	}
}

.bio {
	width: 100%;
	padding: 5em 0;
}

.photo {
	display: flex;
	flex: 40%;
	flex-direction: column;
}