.notes__list {
    list-style: none;
    padding-left: 0;
    margin: 0;
    
    li {
        width: 100%;
        margin-bottom: 30px;

        a {
            display: block;

            &:hover {
                h2, time {
                    color: $primary-color;
                    transition: .4s;
                }
            }
        }

        time {
            display: block;
            font-family: monospace;
            color: $subheading-color;
            font-size: 13px;
            padding-left: 10px;
        }

        h2 {
            font-size: 28px;
            font-weight: bold;
            padding-bottom: 0;
        }
    }
}