@mixin centered-block() {
    display: block;
    text-align: center;
    width: 100%;
}

@mixin breakpoint($name) {
  @if $name == small {
   @media (max-width: 767px) {
    @content;
 }
}
  @else if $name == medium { 
    @media (max-width: 1024px) { 
     @content; 
   } 
  } 
  @else if $name == large { 
    @media (min-width: 1025px) { 
     @content; 
    } 
  } 
}