<ul class="breadcrumb">
	<li><a href="{{ '/' | prepend: site.baseurl }}">home</a></li>
	<li><a href="{{ '/notes/' | prepend: site.baseurl }}">notes</a></li>
	<li>{{ page.title }}</li>
</ul>

<h1 class="article__title">
	{{ page.title }}
</h1>

<div class="article__details">
	<time datetime="{{ page.date | date: "%d/%m/%Y" }}" class="article__details__time">Em {{ page.date | date: "%d/%m/%Y" }}</time> &bullet;

	<span class="article__details__reading" title="Estimated read time">
	  {% assign words = content | number_of_words %}
	  {% if words < 360 %}
	    1 min de leitura
	  {% else %}
	    {{ words | divided_by:180 }} mins de leitura
	  {% endif %}
	</span>

</div>