.shots {
	list-style-type: none;
	padding-left: 0;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	&--shot {
		display: inline-block;
		flex: 1 0 33%;
		padding: 0 10px;

		img {
			border-radius: 3px;
		}
	}
}