.shots {
	list-style-type: none;
	padding-left: 0;
	width: 100%;
	max-width: 80%;
	margin: 0 auto;
	display: grid;
	grid-gap: 10px;

	@for $i from 1 to 13 {
		.shots--reveal:nth-child(#{$i}) {
			animation: reveal .8s forwards;
			animation-delay: $i * 0.25s;
		}
	}

	&--shot {
		width: 100%;
		opacity: 0;
		margin-bottom: 16px;
	}
}

@keyframes reveal {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@media screen and (min-width: 801px) {
	.shots {
		grid-template-columns: 50% 50%;
	}
}

@media screen and (max-width: 800px) {
	.shots {
		grid-template-columns: 100%;
	}
}