.pagination {
    width: 100%;
    display: flex;
    border-bottom: 2px solid rgba(0, 0, 0, .1);
    padding: 2em 0;
    margin: 2em 0;

    &__left {
        flex: 50;
        text-align: left;
    }

    &__right {
        flex: 50;
        text-align: right;
    }
}