.share {
    width: 100%;
    display: flex;

    ul {
        list-style-type: none;
        padding-left: 0;
        width: 100%;

        li {
            margin: 0 auto;
            max-width: 90px;
            width: 100%;
        }
    }
}

i {
    transition: .4s;
}

// Social
.twitter {
    i:hover {
        color: #21abf4;
    }
}

.dribbble {
    i:hover {
        color: #ed5694;
    }
}

.github {
    i:hover {
        color: #333;
    }
}

.instagram {
    i:hover {
        background: linear-gradient(-135deg,#1400c8,#b900b4,#f50000);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.medium {
    i:hover {
        color: #08b77b;
    }
}

.codepen {
    i:hover {
        color: #333;
    }
}

.linkedin {
    i:hover {
        color: #0282bd;
    }
}

i {
    width: 100%;
    text-align: right;
    color: $link-color-social;
    display: block;
}