---
layout: default
---

<div class="wrapper">
	<section class="articles__list">
		{% for post in site.posts %}
		<article class="article__home">
			<h2 class="article__home--title">
				<a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
			</h2>
	        <time datetime="{{ post.date | date: "%d/%m/%Y" }}" class="article__home--time">Em {{ post.date | date: "%d/%m/%Y" }}</time>

	    	<div class="article__home--content">
	            {{ post.content }}
	        </div>
		</article>
		{% endfor %}
	</section>
</div>