---
layout: default
---

<div class="wrapper">
	<section class="articles__list">
		{% for post in site.posts %}
		<article class="article__notes">
			<header class="article__header">
				<h2 class="article__title article__title--notes">
					<a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
				</h2>
			
	        	<time datetime="{{ post.date | date: "%d/%m/%Y" }}" class="article__home--time">Em {{ post.date | date: "%d/%m/%Y" }}</time>
				&bullet;
				<span class="article__details__reading" title="Estimated read time">
				  {% assign words = content | number_of_words %}
				  {% if words < 360 %}
				    1 min de leitura
				  {% else %}
				    {{ words | divided_by:180 }} mins de leitura
				  {% endif %}
				</span>
			</header>

	    	<div class="article__content">
	            {{ post.excerpt }}
	            <a href="{{ post.url }}">Leia o post completo &raquo;</a>
	        </div>
		</article>
		{% endfor %}
	</section>
</div>

{% include footer.html %}