---
layout: default
---
<div class="wrapper">
	<article class="article__self">
        <h3>Página em construção.</h3>
        
        <p>Veja meus trabalhos aqui:</p>

        <ul class="works-links">
            <li><a target="_blank" href="https://dribbble.com/fernando">–– Dribbble</a></li>
            <li><a target="_blank" href="https://github.com/frrrnd">–– Github</a></li>
            <li><a target="_blank" href="https://codepen.io/frrrnd/">–– Codepen</a></li>
        </ul>

        <!-- <div class="article__content">
            {{ content }}
        </div> -->
	</article>
</div>