.article__list {

}

.article__home {
	margin-bottom: 60px;
	padding-bottom: 20px;
	border-bottom: 1px solid #eee;

	&--title {
		margin-bottom: 10px;

		a {
			color: #333;
		}
	}

	&--content {
		p {
			margin-bottom: 30px;
		}

		code {
			background-color: #ffe3c2;
			padding: 0 3px;
			font-size: 16px;
		}
	}

	&--time {
		color: #ccc;
		margin-bottom: 20px;
		display: block;
		width: 100%;
	}
}
