.articles__list {
	padding-top: 2em;
	max-width: 700px;
	width: 100%;
	margin: 0 auto;
}

.article__header {
	width: 100%;
	margin-bottom: 20px;
}

.article__title {
	width: 100%;
	font-size: 3em;
	margin-bottom: 10px;
	font-family: $heading-font;

	a {
		color: $text-color;
		position: relative;
	}

	&--notes {
		font-size: 2em;
		font-weight: normal;
	}
}

@keyframes title-hover {
	0% {
		transform: translateX(0);
		opacity: 0;
	}

	100% {
		transform: translateX(20px);
		opacity: 1;
	}
}

.article__home--time,
.article__details__reading {
	font-family: $text-font;
}

.article__details {
	color: #999;
	font-family: $text-font;
}

.article__details__time,
.article__details__reading {
	display: inline-block;
}


/*
	Content
*/

.article__content {
	padding-top: 1em;

	h2 {
		margin-bottom: 20px;
	}
	p {
		margin-bottom: 30px;
	}

	code {
		padding: 0 3px;
		font-size: 16px;
	}

	pre {
		code {
			padding: 10px;
			border-radius: 3px;
		}
	}

	img {
		margin: 0 auto;
	}
}


.article__notes {
	padding: 20px 0;
	border-bottom: 1px solid #eee;
}

.wave {
	display: block;
	width: 30px;
	margin: 0 auto;
	font-size: 25px;
}

.article__self {
	padding-top: 2em;
	max-width: 700px;
	width: 100%;
	margin: 0 auto;
}

.post-medium {
	color: green;
	font-size: 13px;
}

.article__self a[target^="_blank"]:after {
     content: " " url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAVklEQVR4Xn3PgQkAMQhDUXfqTu7kTtkpd5RA8AInfArtQ2iRXFWT2QedAfttj2FsPIOE1eCOlEuoWWjgzYaB/IkeGOrxXhqB+uA9Bfcm0lAZuh+YIeAD+cAqSz4kCMUAAAAASUVORK5CYII=);    
}