.articles__list {
	padding-top: 2em;
	border-top: 1px solid #eee;
}

.article__header {
	width: 100%;
	margin-bottom: 20px;
}

.article__title {
	width: 100%;
	margin-bottom: 60px;
	border-bottom: 1px solid #eee;
	font-size: 5em;
	margin-bottom: 10px;

	a {
		color: #333;
	}

	&--notes {
		font-size: 3em;
		border-bottom: none;
	}
}

.article__details {
	color: #999;
}

.article__details__time,
.article__details__reading {
	display: inline-block;
}


/*
	Content
*/

.article__content {
	p {
		margin-bottom: 30px;
	}

	code {
		padding: 0 3px;
		font-size: 16px;
		background-color: #e7ffeb;
	}

	pre {
		code {
			padding: 10px;
			border-radius: 3px;
		}
	}
}

.article__self {
	.article__content {
		p {
			&:first-child {
				&:first-letter {
					float: left;
				    margin-top: -6px;
				    padding-right: 10px;
				    color: #000;
				    font-size: 101px;
				    font-size: 10.1rem;
				    line-height: 101px;
				    line-height: 10.1rem;
				    font-weight: bold;
				}
			}
		}
	}
}

.article__notes {
	padding: 20px 0;
	border-bottom: 1px solid #eee;
}

.wave {
	display: block;
	background: url('../images/wave.svg');
	width: 80px;
	height: 5px;
	margin: 0 auto;
}