.articles__list {
	padding-top: 2em;
	border-top: 1px solid #eee;
}

.article__header {
	width: 100%;
	margin-bottom: 20px;
}

.article__title {
	width: 100%;
	margin-bottom: 60px;
	font-size: 3em;
	margin-bottom: 10px;

	a {
		color: $text-color;
	}

	&--notes {
		font-size: 3em;
		border-bottom: none;
	}
}

.article__details {
	color: #999;
}

.article__details__time,
.article__details__reading {
	display: inline-block;
}


/*
	Content
*/

.article__content {
	p {
		margin-bottom: 30px;
	}

	code {
		padding: 0 3px;
		font-size: 16px;
		background-color: #e7ffeb;
	}

	pre {
		code {
			padding: 10px;
			border-radius: 3px;
		}
	}

	img {
		margin: 0 auto;
	}
}


.article__notes {
	padding: 20px 0;
	border-bottom: 1px solid #eee;
}

.wave {
	display: block;
	width: 30px;
	margin: 0 auto;
	font-size: 25px;
}
