.footer {
	width: 100%;
	padding: 2em 0 0 0;


	p {
		width: 100%;
		text-align: center;
		font-size: 12px;
		font-family: $text-font;
		color: #555;
		margin-bottom: 5vh;
	}
}

.footer__social {
	flex: 30%;
	display: flex;
}

.social__float {
	position: absolute;
	top: 0;
	right: 0;
	padding-right: 2em;
	padding-top: 5em;
	display: none;
	visibility: hidden;


	ul {
		list-style-type: none;
	}

	li {
		margin-bottom: 20px;

		i {
			color: #AAA;
		}
	}

	a {
		transition: .4s;
		display: block;

		&:hover {
			transition: .4s;
			
			i {
				color: $primary-color;
			}
		}
	}
}