.footer {
	color: #666;
	padding: 2em 0;

	p {
		font-size: 14px;
		font-family: $heading-font;
	}

	i {
		width: 100%;
		text-align: right;
		color: #ddd;
		display: block;
	}
}

.footer__social {
	flex: 30%;
	display: flex;
}
