.header {
	width: 100%;
	display: flex;
	padding: 5vh 0;

	@include small {
		flex-direction: column;
	}

	@include large {
		flex-direction: row;
	}
}

.logo__top {
	display: flex;
	flex: 1;

	@include small {
		padding-left: 10px;
	}

	a {
		font-size: 12px;
		display: flex;
		flex-direction: column;
		align-self: center;
		color: $subheading-color;

		strong {
			display: block;
		}
	}
}

.menu__top {
	display: flex;
	flex: 2;

	ul {
		width: 100%;
		display: flex;
		padding-left: 0;
		justify-content: center;
		align-items: center;
	}

	li {
		display: flex;
		margin: 0 20px;
		font-size: 13px;
	}

	a {
		text-transform: uppercase;
		letter-spacing: 2px;
		font-weight: bold;
		transition: .4s;
		color: $subheading-color;

		&:hover {
			color: $primary-color;
			transition: .4s;
		}
	}
}

.social__top {
	display: flex;
	flex: 1;

	ul {
		padding-left: 0;
		display: flex;
		width: 100%;
		justify-content: center;
		align-items: center;
	}

	li {
		display: flex;
		font-size: 12px;
	}

	a {
		text-transform: uppercase;
		letter-spacing: 3px;
	}
}
