.header {
	width: 100%;
	padding: 1em 0;
	margin-bottom: 20px;
	border-bottom: 1px solid #eee;
}

.header__top {
	width: 100%;
	display: flex;

	.logo__link {
		flex: 50%;
		display: inline-block;
		text-align: left;
		color: #333;

		svg {
			max-width: 42px;
			width: 100%;

			path {
				fill: $wave-fill;
			}
		}

		h2 {
			font-size: 1.5em;
			color: #333;
			padding: 0;
			font-weight: 400;

			a {
				color: inherit;
			}
		}
	}
}

.header__bottom {
	display: flex;
	width: 100%;
}

.header__about {
	flex: 70%;
	max-width: 600px;
	display: flex;
	flex-direction: column;

	.logo {
		color: #333;
		font-weight: bold;
	}

	p {
		width: 100%;
		display: block;
		font-size: 30px;
		line-height: 1.2;
		margin-bottom: 10px;
		padding: 2em 0;
		font-family: $heading-font;
	}

	&:hover p strong {
		//animation: glitch 2s steps(100) infinite;
	}
}

.social-links {
	width: 100%;
	display: flex;

	ul {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		width: 100%;
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	li {
		font-size: 25px;
		margin: 10px;

		a {
			color: $link-color-social;
		}
	}
}

.logo__image {
	max-width: 100px;
}

.logo__link {
	color: #333;
}
