.navigation {
	width: 100%;
	display: flex;
	
	ul {
		width: 100%;
		padding-left: 0;
		display: flex;
		flex-direction: row;
		justify-content: center;

		@include small {
			flex-direction: column;
		}
	}

	li {
		display: flex;
		margin: 0 10px;
		
		@include small {
			margin: 15px 10px;
			text-align: center;
			display: block;
		}
	}

	a {
		font-weight: bold;
		font-size: 12px;

		&:hover {
			color: $primary-color;
			transition: .4s;
		}
	}
}

.breadcrumb {
	list-style: none;
	padding-left: 0;

	li {
		display: inline-block;
		margin: 0 15px 0 0;
		font-size: 14px;
		position: relative;

		&:last-child {
			&:after {
				content: "";
			}
		}

		&:after {
			content: "\00bb";
			display: inline-block;
			position: absolute;
			right: -15px;
		}
	}
}