*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
	box-sizing: border-box;
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    border: 20px solid $site-color-border;
    min-height: 100%;
    background-color: #FFF;
}

body {
    font-family: $heading-font;
    font-weight: 400;
    color: $text-color;
    background-color: $background-color;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    cursor: url(../images/normal.png), auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    min-height: 95vh;
    height: 100%;

    a {
        cursor: url(../images/active.png), auto;
    }
}

.wrapper {
    max-width: $wrapper-width;
    width: 100%;
    margin: 0 auto;
}

.main {
    width: 100%;
}

.content {
    padding-bottom: 2em;
}

.disqus__wrapper {
    padding: 10px;
}