*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
    min-height: 100%;
    background-color: $background-color;
    opacity: 0;
    transition: opacity 0.5s ease;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    /* Font varient */
    font-variant-ligatures: none;
    -webkit-font-variant-ligatures: none;
    /* Smoothing */
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;

    &.active {
        opacity: 1;
    }
}

body {
    font-family: $text-font;
    font-weight: 400;
    color: $text-color;
    margin: 0;
    height: 100%;
}

.wrapper {
    max-width: $wrapper-width;
    width: 100%;
    margin: 0 auto;
}

.flex {
    display: flex;

    @include small {
        flex-direction: column;
    }

    @include large {
        flex-direction: row;
    }
}

.main {
    width: 100%;

    @include small {
        padding: 0 10px;
    }
}

.content {
    
}

.disqus__wrapper {
    padding: 10px;
}

.give-me-space {
    padding: 1vh 0 3vh 0;
}