*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    min-height: 100%;
    background-color: $background-color;
    opacity: 0;
    transition: opacity 0.5s ease;

    &.active {
        opacity: 1;
    }
}

body {
    font-family: $text-font;
    font-weight: 400;
    color: $text-color;
    // display: flex;
    // flex-direction: row;
    // justify-content: flex-start;
    // align-items: flex-start;
    // position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    height: 100%;
}

.wrapper {
    max-width: $wrapper-width;
    width: 100%;
    margin: 0 auto;
}

.main {
    width: 100%;
}

.content {
    padding-bottom: 2em;
}

.disqus__wrapper {
    padding: 10px;
}

@keyframes toUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}