/*
	Global variables, minxins and placeholders.
*/

/* General */
$wrapper-width: 50em;

/* Typo */
$heading-font: 'Yantramanav', 'Helvetica', Arial, sans-serif;
$text-font: 'Lora', 'Georgia', serif;

/* Colors */
$text-color: #484358;
$background-color: #fffffd;
$link-color: #82d1c1;
$link-color-social: #ccc;
$link-color-menu: #333;

/* Mixins */

@mixin flex($direction, $align-items, $justify-content) {
	display: flex;
	flex-direction: $direction;
	align-items: $align-items;
	justify-content: $justify-content;
}
