/*
	Global variables, minxins and placeholders.
*/

/* General */
$wrapper-width: 50em;

/* Typo */
$text-font: -apple-system, BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
$heading-font:'Georgia', serif;

/* Colors */
$text-color: #111;
$background-color: #111;
$link-color: #F52D3A;
$link-color-social: #999;
$link-color-menu: #aaa;
$site-color-border: #eee;
$wave-fill: #333;

/* Mixins */

@mixin flex($direction, $align-items, $justify-content) {
	display: flex;
	flex-direction: $direction;
	align-items: $align-items;
	justify-content: $justify-content;
}