/*
	Global variables, minxins and placeholders.
*/

/* General */
$wrapper-width: 50em;

/* Typo */
$menu-font: 'Yantramanav', 'Helvetica', Arial, sans-serif;
$heading-font: 'Playfair Display', serif;
$text-font: 'Georgia', sans-serif;

/* Colors */
$text-color: #383452;
$background-color: #eee;
$link-color: #82d1c1;
$link-color-social: #999;
$link-color-menu: #333;
$site-color-border: #FFF;

/* Mixins */

@mixin flex($direction, $align-items, $justify-content) {
	display: flex;
	flex-direction: $direction;
	align-items: $align-items;
	justify-content: $justify-content;
}
