$screen-small: 800px;
$screen-medium-start: 801px;
$screen-medium-end: 1024px;
$screen-large: 1025px;


@mixin small {
    @media (max-width: $screen-small) {
        @content;
    }
}

@mixin medio {
    @media (min-width: $screen-medium-start ) and (max-width: $screen-medium-end) {
        @content;
    }
}

@mixin large {
    @media (min-width: $screen-large) {
        @content;
    }
}