/*
@TODO - Refatorar
*/
 @media (max-width: 800px) {

   html {
     border: none;
   }

   .header__nav {
      overflow-x: scroll;
      padding-left: 60px;
      -webkit-overflow-scrolling: touch;

      ul {
        padding-right: 10px;
      }
   }

	.header__top {
		flex-wrap: wrap;
	}

    .logo__link {
    	flex: 100%!important;
    }

    .header__nav__menu {
    	justify-content: center!important;
    }

    .logo__image {
    	margin: 0 auto;
    }

    .header__top h2 {
      text-align: center;
    }

    .header__about {
    	flex: 100%!important;
    	padding-left: 10px;
    }

    .header__bottom {
    	flex-wrap: wrap;
    }

    .social-links ul {
    	justify-content: center!important;
    }

    .article__self,
    .articles__list {
    	padding: 10px;
    }

    .footer .wrapper {
    	padding: 10px;
    }

    .shots--shot {
    	width: 50%!important;
    }

    .article__title {
        font-size: 3em!important;
    }

    .home-section {
      padding: 0!important;

      h2 {
        padding-left: 25px;
      }
    }

//     p {
//         font-size: 16px;
//         line-height: 1.6;
//     }

//     .navigation,
//     .social-links {
//         @include centered-block();
//     }

//     .social-links {
//         font-size: 30px;
//         margin-top: 35px;
//     }

//     .page-title {
//         margin-top: 80px;
//         margin-bottom: 60px;
//     }

//     .page-title__text {
//         font-size: 45px;
//     }

//     .page-title__subtitle {
//         font-size: 18px;
//     }

//     .post-teaser__title {
//         font-size: 18px;
//         @include centered-block();
//     }

//     .post-teaser__date {
//         font-size: 16px;
//         margin-top: 10px;
//         float: none;
//         @include centered-block();
//     }

//     .explore {
//         margin-top: 80px;
//     }

//     .post-title__text {
//         font-size: 28px;
//     }

//     .post-title__subtitle {
//         font-size: 18px;
//     }
 }
