h1, h2 {
    margin: 0;
    font-weight: bold;
    font-family: $text-font;
}

strong {
    font-weight: 700;
    color: #333;
}

p {
	margin: 0;
	line-height: 1.8;
    font-size: 20px;
    font-family: $text-font;
}

a {
	color: $link-color;
}

a {
    text-decoration: none;

    &:hover {

    }
}

blockquote {
    letter-spacing: 3px;
    margin:0px;
    margin-top: 40px;
    margin-bottom: 70px;
    padding: 0px;
    text-align: center;
    position: relative;

    footer {
        position: absolute;
        bottom: -35px;
        font-size: 15px;
        color: #333;
        letter-spacing: 0px;
        left:0px;
        right: 0px;

        &:before { content: "** "; }
        &:after { content: " **"; }
    }

    p {
        display: inline;
        font-size: 20px;
        color: #ccc;
        font-weight: 400;
        &:before { content: "“ "; }
        &:after { content: " ”"; }
    }
}


.page-title {
    text-align: center;
}

.page-title__text {
    font-weight: 700;
    font-size: 70px;
    text-align: left;
}

.page-title__subtitle {
    font-weight: 400;
    font-size: 22px;
    color: #ccc;
    text-align: left;
}

.post-title {
    margin-bottom: 110px;
}

.post-title__text {
    font-size: 45px;
}

.post-title__subtitle {
    font-size: 20px;
}
